$whitekey-color: white;
$blackkey-color: black;
$key-border-color: #222;

.keyboard-wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    flex: 1 0 150px;
    #keyboard {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        list-style: none;
        position: relative;
        height: 150px;
        .keyboard-note {
            width: 30px;
            height: 120px;
            &.black {
                // margin: 0 0 0 $blackkey-offset;
                z-index: 2;
                background: $blackkey-color;
            }
            &.white {
                z-index: 1;
                background: $whitekey-color;
            }
            list-style: none;
            border: 1px solid $key-border-color;
            &:hover {
                background-color: lightgoldenrodyellow;
            }
            display: flex;
            align-items: flex-end;
        }
    }
}
